# Ignore virtual environment
.venv
.venv/*
.venv-3.8
.venv-3.8/*

# Ignore IDE settings
.vscode
.vscode/*

# Ignore original imgs
imgs
imgs/*

# Ignore dataset files
dataset/Kaggle_Dataset
dataset/Kaggle_Dataset/*

# Ignore any images inside frames directories
**/frames/**

# Ignore OS files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
